.timerBlock {
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.timerBlock__inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.timerBlock__inner input {
    width: 220px;
    height: 220px;
    padding: 20px;
    text-align: center;
    font-size: 160px;
    border-radius: 12px;
    border: none;
    transition: all 0.3s ease;
}

.timerBlock__inner input:focus {
    -webkit-box-shadow: 0px 0px 49px 16px rgba(128, 128, 128, 0.52);
    -moz-box-shadow: 0px 0px 49px 16px rgba(128, 128, 128, 0.52);
    box-shadow: 0px 0px 49px 16px rgba(128, 128, 128, 0.52);
    outline: none;
}

.timerBlock__contols {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.timerBlock__contols button {
    color: inherit;
    background-color: #fff;
    border: none;
    padding: 20px 24px;
    font-size: 20px;
    color: #000;
    border-radius: 8px;
    cursor: pointer;
}

@media (max-width: 1199px) {
    .timerBlock__inner {
        gap: 20px;
    }

    .timerBlock__inner div {
        /* width: 30%; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .timerBlock__inner input {
        width: 100%;
        max-width: 150px;
        max-height: 150px;
        height: 100%;
        font-size: 120px;
    }
}

@media (max-width: 767px) {
    .timerBlock__inner input {
        font-size: 60px;
    }
}

@media (max-width: 767px) {
    .timerBlock__inner input {
        font-size: 40px;
    }
}